{%extends 'base.html' %}

{% block head_title %}
Twitter
{% endblock head_title %}

{% block content %}
<div class='row text-center' >
    <div class='col'>
      <h1>Welcome to BeTA Version of Twitter by Ajaxx </h1>
    </div>
</div>
 
<div class="row mb-4">
  <div class="col-md-4 mx-auto col-10">
      <form class="form" id="tweet-create-form" method="POST" action="/create-tweet">
        {% csrf_token %}
        <input type="hidden" value='/' name="next">
        <textarea required="required" class="form-control" name="content" placeholder="Your Tweet...."></textarea>
        <button type="submit" class="btn btn-primary"> Tweet</button>
    </form>
  </div>
</div>


<div  class='row' id='tweets'>
  Loading
</div>

<script>

  function handleTweetCreaateFormDidSubmit(event){
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm) // Formdata is prebuilt function also used as dictionary for storing images
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    const responseType ="json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
    xhr.onload = function(){
        if(xhr.status === 201) {
          const newTweetJson = xhr.response
          const newTweetElement = formatTweetElement(newTweetJson)
          const ogHtml = tweetsContainerElement.innerHTML
          tweetsContainerElement.innerHTML = newTweetElement + ogHtml
          myForm.reset()
        } else if(xhr.status === 400) {
            const errorJson = xhr.response
            console.log(errorJson) 
            const contentError = errorJson.content
            let contentErrorMsg;
            if(contentError){
                contentErrorMsg = contentError[0]
            } else{
                alert("An Error occured. Please Try Again.")
            }
            console.log( contentErrorMsg)

        } else if(xhr.status === 500){
            alert("An Server Error Occured. Please Try Again") 
        }
    }
    xhr.onerror = function(){
      alert("An error Occurred. Please Try Again Later")
    }
    xhr.send(myFormData)
}
 

  const tweetCreateFormEl = document.getElementById("tweet-create-form")
  // now we will add event Listener
  tweetCreateFormEl.addEventListener("submit",handleTweetCreaateFormDidSubmit)

  const tweetsContainerElement = document.getElementById("tweets")
  
  function loadTweets(tweetsElemet){
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/tweets"
    const responseType ="json"

  xhr.responseType = responseType
  xhr.open(method, url)
  xhr.onload = function(){
    const serverResponse = xhr.response
    var listedItems = serverResponse.response // array 
    var finalTweetStr = ""
    var i;
    for(i=0;i<listedItems.length; i++){
      var tweetObj = listedItems[i]
      var currentItme = formatTweetElement(tweetObj)
          finalTweetStr += currentItme
    }
      tweetsElemet.innerHTML = finalTweetStr
    // console.log(listedItems)
     }
    xhr.send()
  }

  loadTweets(tweetsContainerElement)

  

  function handleDidLike(tweet_id, currentCount){
    console.log(tweet_id, currentCount)

  }


  function LikeBtn(tweet){
    return "<button class ='btn btn-primary' onclick=handleDidLike(" + 
    tweet.id +","+tweet.likes+")>"+tweet.likes+"Likes</button>"
  }

  function formatTweetElement(tweet){
    var formattedTweet = "<div class=' col-12 col-md-10 mx-auto border rounded py-3 mb-4 tweet' id= 'tweet-" + tweet.id 
    + "'><p>" + tweet.content + 
     "</p><div class='btn-group'>" + LikeBtn(tweet) +
    "</div></div>"
    return formattedTweet
  }


</script>

    {% endblock content %}